/* tested on "default" theme */
.quarto-title-block .quarto-title-banner {
  color: #444444;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: #444;
  background: white;
}

.quarto-title-banner {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.btn-primary {
  color: #444;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.btn-primary:hover {
  color: #084093;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}
